*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --MC:#3B3030;
    --heightOfInputs:60px;
    --distanse:35px;
    --borderOfInputs:7px;
}

.all{
    width: 100%;
    height: 100vh;
    background: linear-gradient(108deg, #ffcbcc1c, #d7b0af);
    padding-top:70px ;
    display: flex;
    justify-content: space-evenly;
}

.all .img-pt{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.all .img-pt img{
    width: 70%;
}

.all .items{
    width: 40%;
    height: 100%;
    /* background-color: rgb(244, 244, 230); */
    padding: 100px 10px 10px 10px;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

/*-----*/

.items .name-pt{
    width: 100%;
    height: var(--heightOfInputs);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.items label.label-item{
    position: absolute;
    right: 10px;
    top: -20px;
    transition: all .3s ease-in-out;
    font-size: 10px;
    color: var(--MC);
    opacity: 1;
}

.items input:focus{
    outline: 2px solid var(--MC);
}

.items svg{
    position: absolute;
    right: 13px;
    transition: all .3s ease-in-out;
    font-size: 15px;
    color: var(--MC);
}

/*------1*/
.items .name-pt input{
    width: 100%;
    height: 100%;
    border-radius: var(--borderOfInputs);
    border: 0;
    padding-right: 40px;
    color: var(--MC);

}



/*-----*/

.items .img-one-pt{
    width: 50%;
    height: var(--heightOfInputs);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--distanse);
    position: relative;
}



.items .img-one-pt input{
    width: 100%;
    height: 100%;
    border-radius: var(--borderOfInputs);
    border: 0;
    padding-right: 40px;
    color: var(--MC);
    font-size: 20px;
    display: none;

}

.items .img-one-pt input:focus{
    outline: 2px solid var(--MC);
}

.labelimgone{
    cursor: pointer;
    width: 100%;
    height: 80%;
    border-radius: var(--borderOfInputs);
    border: 0;
    color: var(--MC);
    font-size: 20px;
    background-color: rgb(148, 177, 146);
    display: flex;
    align-items: center;
    justify-content: center;
}

.labelimgtwo{
    cursor: pointer;
    width: 100%;
    height: 80%;
    border-radius: var(--borderOfInputs);
    border: 0;
    color: var(--MC);
    font-size: 20px;
    background-color: rgb(148, 177, 146);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all ease-in-out;
}



.labelimgthree{
    cursor: pointer;
    width: 100%;
    height: 80%;
    border-radius: var(--borderOfInputs);
    border: 0;
    color: var(--MC);
    font-size: 20px;
    background-color: rgb(148, 177, 146);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hasphoto {
    background-color: green; 
}

/*-----*/

.items .type-pt{
    margin-top: var(--distanse);
    width: 45%;
    display: inline-block;
    height: var(--heightOfInputs);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.items .type-pt select{
    width: 100%;
    height: 100%;
    border-radius: var(--borderOfInputs);
    border: 0;
    padding-right: 40px;
    color: var(--MC);
}


/*-------------*/

.items .price-pt{
    margin-top: var(--distanse);
    width: 50%;
    display: inline-block;
    height: var(--heightOfInputs);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.items .price-pt input{
    width: 100%;
    height: 100%;
    border-radius: var(--borderOfInputs);
    border: 0;
    padding-right: 40px;
    color: var(--MC);
    text-align: right;
}


/*-------------*/

.items .photo2-pt{
    margin-top: var(--distanse);
    width: 20%;
    display: inline-block;
    height: var(--heightOfInputs);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.items .photo2-pt input{
    width: 100%;
    height: 100%;
    border-radius: var(--borderOfInputs);
    border: 0;
    padding-right: 40px;
    color: var(--MC);
    display: none;

}

.items .photo3-pt{
    margin-top: var(--distanse);
    width: 20%;
    display: inline-block;
    height: var(--heightOfInputs);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.items .photo3-pt input{
    width: 100%;
    height: 100%;
    border-radius: var(--borderOfInputs);
    border: 0;
    padding-right: 40px;
    color: var(--MC);
    display: none;

}


/*--------*/

.items .desc-pt{
    
    margin-top: var(--distanse);
    width: 100%;
    display: inline-block;
    height: var(--heightOfInputs);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.items .desc-pt textarea{
    width: 100%;
    height: 100%;
    border-radius: var(--borderOfInputs);
    border: 0;
    color: var(--MC);
    flex-direction: row-reverse;
    appearance: none;
    text-align: right;
    padding-top: 15px;
    padding-right: 10px;
}


/*-----------------*/
.items .send-pt{
    
    margin-top: var(--distanse);
    width: 100%;
    display: inline-block;
    height: var(--heightOfInputs);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.items .send-pt input{
    width: 50%;
    height: 100%;
    border-radius: var(--borderOfInputs);
    border: 0;
    color: var(--MC);
    background-color: #fff;
    flex-direction: row-reverse;
    text-align: center;
    font-size: 25px;
    border: 3px solid var(--MC);
    transition: .3s all ease-in-out;
    box-shadow: 0 3px 10px #4240404a;
}
.items .send-pt input:hover{
    border-radius: var(--borderOfInputs);
    color: #fff;
    background-color: var(--MC);    
} 

/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/
/******************************************************************/

@media (max-width:450px) {
    .all{
        height: 130vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .all .img-pt{
        width: 100%;
        height: 40%;
    }
    
    .all .img-pt img{
        width: 70%;
    }
    
    .all .items{
        width: 100%;
        height: 70%;
        padding: 20px;
        padding-bottom: 40px;
    }

    .items .price-pt{
        width: 100%;
    }

    .items .photo2-pt{
        width: 48%;
    }

    .items .photo3-pt{
        width: 48%;
    }

    .items .photo2-pt label,
    .items .photo3-pt label{
        font-size: 10px;
    }


    
    /*-------------------*/


}

/***************************************/
/***************************************/
/***************************************/

@media (min-width:451px) and (max-width: 767px) {
    .all{
        height: 160vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .all .img-pt{
        width: 100%;
        height: 40%;
    }
    
    .all .img-pt img{
        width: 60%;
    }
    
    .all .items{
        width: 100%;
        height: 60%;
        padding: 20px;
    }
    
    /*-------------------*/

    .items .Blod-btns{
        width: 100%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: calc(var(--distanse) + 10px);
        position: relative;
    }
    
    
    input[type="radio"]{
        width: 80px;
        height: 80px;
        margin: 0 5px;
        position: relative;
        color-scheme: #ddd;
        cursor: pointer;
    }
}

/***************************************/
/***************************************/
/***************************************/

@media (min-width:768px) and (max-width: 991px) {
    .all{
        height: 160vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .all .img-pt{
        width: 100%;
        height: 45%;
        margin-bottom: 20px;
    }
    
    .all .img-pt img{
        width: 55%;
    }
    
    .all .items{
        width: 70%;
        height: 50%;
        padding: 20px;
    }
    
}


@media (min-width:992px) and (max-width: 1199px) {
    
.all{
    height: 105vh;
    justify-content: space-evenly;
}

.all .img-pt{
    width: 45%;
    align-items: center;
}


.all .items{
    width: 50%;
    height: 100%;
    padding: 60px 10px 10px 10px;
}

form{
    padding-top: 50px;
}

/*----btns*/

}