.font1{
    font-family: 'Cairo', sans-serif !important;
}
.font2{
    font-family: 'Amiri Quran', serif !important;
}
.font3{
    font-family: 'IBM Plex Sans Arabic', sans-serif !important;
}
.font4{
    font-family: 'Amiri', serif !important;
}
.font5{
    font-family: 'Work Sans', sans-serif !important;
}